

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
<a href="{% url 'logout' %}">Logout</a>

<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Add'/>
</form>

<ol>
<h4>Pending:</h4>
{% for todo in tasks %}
    {% if not todo.status %}
        <li><strong><a href="{% url 'update' todo.id %}">{{ todo.name }}</a></strong><br></li>
        {{ todo.user }}<br>
        {{ todo.description }}<br>
        Time of Input:{{ todo.date }}<br>
        No. of updates:{{ todo.updates }}<br>
        Deadline:{{ todo.deadline }}<br>
    {% endif %}
{% endfor %}
</ol>


<ol>
<h4>Complete:</h4>
{% for todo in tasks %}
    {% if todo.status %}
        <li><strong><a href="{% url 'update' todo.id %}">{{ todo.name }}</a></strong><br></li>
        {{ todo.description }}<br>
        Time of Input:{{ todo.date }}<br>
        No. of updates:{{ todo.updates }}<br>
        Deadline:{{ todo.deadline }}<br>
    {% endif %}
{% endfor %}
</ol>
